.Post {
  width: 100%;
  height: 75px;
}
.Post img {
  height: 84px;
}
.PostCard {
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.PostImageDiv {
  width: 36%;
}

.PostWidth {
  width: 100%;
}

.PostHeight {
  height: 100%;
}
.PostXSmall {
  font-size: x-small;
}

.PostSmall {
  font-size: small;
}
.PostBold {
  font-weight: bold;
}

.Adopción {
  color: #2ec871;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Perdido {
  color: #edc00f;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Abandonado {
  color: #e27e22;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Crítico {
  color: #e34c3c;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
