.NewPostImage {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.NewPostDropdown {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
}

.NewPostDropdownItems {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: small;
}

.NewPostInput {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
  border: solid 1px gray;
}

/* customContainer needed to position the button. Adjust the width as needed */
.customContainer {
  position: relative;
  /* width: 50%; */
}

/* Make the image responsive */
/* .customContainer img {
  width: 100%;
  height: auto;
} */

/* Style the button and place it in the middle of the customContainer/image */
.customContainer label {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.customContainer label:hover {
  background-color: black;
}
